# Byte-compiled / optimized / DLL files
__pycache__/
.mypy_cache
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

## Others
.DS_Store
*.swp
*.*~
#*#
.#*
